<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/signup">
                <span>Sign up</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-raised-button routerLink="/login">
                <span>Login</span>
            </button>
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-button" 
            mat-button>
                <span>Hello, {{userName()}}</span>
            </button>
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-hamburger" 
            mat-icon-button>
            </button>
            <mat-menu #userMenu ="matMenu">
                <mat-button (click)="logout()">sign out</mat-button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>