    <mat-card elevation="5" fxFlex class="content">

        <mat-card-title>
            <h2>{{title}}</h2>
        </mat-card-title>

        <mat-card-content>
            <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>

            <form #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
                <mat-form-field>
                    <input formControlName="username" matInput placeholder="user/admin" required>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="password" matInput placeholder="123" required type="password">
                </mat-form-field>
                <button [disabled]="!loginForm.form.valid" color="primary" mat-raised-button
                    type="submit">Login</button>
                <br>
                <button color="primary" mat-raised-button routerLink="/" >Go Back</button>
            </form>
            <br>

            <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
            <br>
            <hr>
        </mat-card-content>

    </mat-card>
